{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Content -->
<section id="content">
<h3>Interface de gestion</h3>

<h4>API</h4>
    <ul>
        <li><a href="/api/bots">Bots</a></li>
        <li><a href="/api/earthusers">EarthUsers</a></li></li>
        <li><a href="/api/botstates">Botstates</a></li></li>
    </ul>
	
<h4>Start</h4>
    <ul>
        <li><a href="/bots/start">Start bots</a></li>
    </ul>	
	
	
</section>

{% endblock %}
