{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Content -->
<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">

        <!-- Content -->
        <section id="content">
            <h3>BotState create</h3>
            Several bots are created:
            <ul>
                <li>Bot 0</li>
                <li>Bot 1</li>
                <li>Bot 2</li>
                <li>Bot 3</li>
                <li>Bot 4</li>
                <li>Bot 5</li>
                <li>Bot 6</li>
            </ul>


        </section>

    </div>
</div>


{% endblock %}
