{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Content -->
<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">

        <!-- Content -->
        <section id="content">
            <h3>BotState management</h3>
            This section must be private. It can be used to manage bots to update them.</br>
            <h4>TODO</h4>
            <ul>
                <li>a form to update bots</li>
                <li>check if admin logged before redering these pages</li>
            </ul>




        </section>

    </div>
</div>


{% endblock %}
