{% extends "base.html" %}

{% block content %}

{% if uploaded_file  %}
{% if not clue %}

<h3>Dommage </h3>
<h4>Fichier: {{ filename }}</h4>
<p>{{ msg }}</p>

{% else %}

<h3>Bravo, vous avez trouvé un nouvel indice !</h3>
<h4>Fichier: {{ filename }}</h4>
<h5>{{ clue}}</h5>
<p>{{ msg }}</p>

{% endif %}

{% else%}

<h3>Ajoutez un nouvel indice</h3>

<form method="post" action="{% url 'clue' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="6u 12u$(xsmall)">
        {{ form.as_p }}
    </div>
    <div class="6u 12u$(xsmall)">
        <ul class="actions">
            <li><input type="submit" value="Validez" id="URL_map" name="Button" class="special"/></li>
            <li><input type="reset" value="Reset"/></li>
        </ul>
    </div>
</form>


{% endif %}

{% if map_coordinate  and delete_map %}
<section id="clean_clue">
    <!--<header>-->
    <!--<h3>Preuves - Indices</h3>-->
    <!--</header>-->
    <form method="get" action="/clean/">
        {% csrf_token %}
        <div class="row uniform 50%">
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Effacer Ma carte" class="special"/></li>
                </ul>
            </div>
        </div>
    </form>

</section>
{% endif %}

<section id="withdraw">
    <div class="container">
        <header>
            <h3>Télécharger des indices</h3>
            <p>
                Sauf mention contraire, les indices peuvent être téléchargés dans un sous dossier de
                <strong><a href="/withdraw">https://earth-explorer.agayon.be/withdraw</a>/XXX</strong>
                où <strong>XXX</strong> est le nom d'un indice donné. Il ne reste plus qu'à découvrir leurs
                noms !
            </p>
        </header>
    </div>
</section>

{% endblock %}