{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Content -->
<!-- Main -->
<div id="main" class="wrapper style1">
    <section id="Q1">
        <div class="container">
            <header>
                <h3>Je suis bloqué. Les bots répètent toujours la même chose. Comment m'en sortir ?</h3>
                <p>Il arrive que les bots répètent de nombreuse fois les même phrases. Le processus de sélection des
                    phrases est parfois étonnant. Pour obtenir des réponses différentes, il faut parfois faire preuve
                    d'obstination. Il faut varier les phrases et les mots employés. Parfois un seul mot peut déclencher
                    une phrase ou l'autre. En principe, les mots déclencheurs sont donnés par les bots. N'hésitez pas à
                    lui répéter des concepts qu'il a employé. Si il parle d'un évènement ou d'un objet, répétez-lui le
                    nom de l'objet et poser lui des questions en le mentionnant. Cela le mettra sur la piste.
                </p>
            </header>
        </div>
    </section>
    <section id="Q2">
        <div class="container">
            <header>
                <h3>Je suis vraiment bloqué. À l'aide !</h3>
            </header>
            <p>Reponse</p>
        </div>
    </section>
<section id="movim">
        <div class="container">
            <header>
                <h3>Je n'arrive pas à créer un compte pour jouer.</h3>
                <p>Vous avez plusieurs possibilités. Voici les plus faciles</p>
                <ul>
                    <li>Utilisez <a href="/faq/help_movim">Movim</a>.</li>
                    <li>Créez un compte sur <a href="https://im.apinc.org/inscription/">JabberFr</a> puis utilisez notre <a href="/chatter">client intégré</a>.</li>
                </ul>
                Note: le compte movim peut être utilisé sur le client intégré
            </header>
        </div>
</section>
    <section id="Q4">
        <div class="container">
            <header>
                <h3>Quelles sont les technologies derrière earth-explorer ?</h3>
                <p>Le projet est basé sur le protocole de communication <a href="https://xmpp.org/">XMPP</a>. Le site
                    web est construit avec le cadriciel (framework) <a href="https://www.djangoproject.com/">Django</a>.
                    Les bots se connectent au réseau à l'aide de la bibliothèque <a
                            href="https://github.com/fritzy/SleekXMPP">SleekXMPP</a> et ils ont la capacité de mettre à
                    jour les informations du site web à l'aide d'une API REST fournie par le <a
                            href="http://www.django-rest-framework.org/">Django REST framework</a>.</p>

                <p>Les bots fonctionnent à l'aide de la bibliothèque <a
                        href="https://github.com/gunthercox/ChatterBot/">Chatterbot</a>. Les dialogues sont écris à
                    l'avance et les bots n'apprennent pas de leurs interactions. Cela permet d'éviter de modifier la
                    difficultés au cours du temps et de fausser le jeu.</p>

                <p>Les données sont générées à l'aide de l'<a href="https://www.agayon.be">Agayon</a>. Plus
                    d'informations à son sujet sont disponible sur le <a href="https://blog.agayon.be">Blog</a>.</p>
            </header>
        </div>
    </section>
    <section id="Q5">
        <div class="container">
            <header>
                <h3>J'ai une remarque, qui puis-je contacter?</h3>
                <p>Si vous avez trouvé une faute d'orthographe, un lien mort, une erreur ou si vous avez des suggestions,
                    n'hésitez pas à vous manifester !
                    L'auteur est accessible à l'adresse suivante: <a href="info[at]agayon.be">info[at]agayon.be</a>.
                    Vous pouvez envoyer vos suggestions, questions, rapports de bugs etc.</p>
            </header>
        </div>
    </section>

</div>


{% endblock %}
