{% extends "base.html" %}

{% block content %}

{% if trials > 0 %}

    {% if trial  %}
        {% if not success %}

        <h3>Dommage </h3>
        <h4>Mauvaises coordonnées ! </h4>
        <h5>Vous avez encore {{ trials_str }} essai !</h5>

        <p>{{ msg }}</p>

        <section id="try_again">
            <!--<header>-->
            <!--<h3>Preuves - Indices</h3>-->
            <!--</header>-->
            <form method="get" action="/final/">
                {% csrf_token %}
                <div class="row uniform 50%">
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="Ressayer" class="special"/></li>
                        </ul>
                    </div>
                </div>
            </form>

        </section>

        {% else %}

        <h3>Bravo, trouvé le robot !</h3>
        <p>{{ msg }}</p>

        <!--ICI MAP-->
        {% endif %}

    {% else %}
    <section id="final_geolocalization">
        <div class="container">
            <header>
                <h3>Veuillez indiquer où se trouve le robot.</h3>
                <p>Vous avez {{ trials_str }} essais.</p>
            </header>

            <form method="post" action="{% url 'final' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="6u 12u$(xsmall)">
                    {{ form.as_p }}
                </div>
                <div class="6u 12u$(xsmall)">
                    <ul class="actions">
                        <li><input type="submit" value="Validez" id="URL_map" name="Button" class="special"/></li>
                        <li><input type="reset" value="Reset"/></li>
                    </ul>
                </div>
            </form>


        </div>
    </section>
    {% endif %}

{% else %}

    Vous n'avez plus d'essais, c'est perdu.
{% endif %}





{% endblock %}