{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Content -->
<!-- Main -->
<div id="main" class="wrapper style1">
    <section id="movim">
        <div class="container">
            <header>
                <h3>Jouer via Movim</h3>
                <ul>
                    <li><p>Rendez-vous sur <a href="https://nl.movim.eu/?login">https://nl.movim.eu/?login</a></p>
                    </li>
                    <li><p>Cliquez sur <strong>"Souscrire"</strong>.</p>
                        <span class="image fit main"><img src="{% static 'game/movim1.png' %}" alt="movim1"></span>
                    </li>
                    <li><p>Cliquez sur le cadre comprenant movim.eu et le drapeau hollandais.</p>
                        <span class="image fit main"><img src="{% static 'game/movim2.png' %}" alt="movim2"></span>

                    <li><p>Créez votre compte.</p>
                        <span class="image fit main"><img src="{% static 'game/movim3.png' %}" alt="movim3"></span></li>
                    <li><p>Connectez-vous sur <a href="https://nl.movim.eu/?login">https://nl.movim.eu/?login</a></li>

                    <li>
                        <p>Entrez <strong>votre nom d'utilisateur </strong>(adresse en @movim.eu) et <strong>mot de
                            passe</strong>.</p>
                        <span class="image fit main"><img src="{% static 'game/movim4.png' %}" alt="movim4"></span>
                    </li>
                    <li><p>Rendez-vous sur l'onglet <strong>Discussions</strong></p>
                        <span class="image fit main"><img src="{% static 'game/movim5.png' %}" alt="movim5"></span>
                    </li>
                    <li><p>Cliquez sur le signe <i class="fa fa-plus-circle" aria-hidden="true"></i> orange et ajouter
                        le contact <strong>welcome@agayon.be</strong>.</p>
                        <span class="image fit main"><img src="{% static 'game/movim6.png' %}" alt="movim6"></span>
                    </li>
                    <li><p>Cliquez-dessus ou sur l'icône du contact <i class="fa fa-user"></i> pour voir son profil.
                        Vous avez ensuite la possibilité de l'ajouter dans vos contacts: <i class="fa fa-plus"
                                                                                            aria-hidden="true"></i><i
                                class="fa fa-user" aria-hidden="true"></i>. </p>

                        <span class="image fit main"><img src="{% static 'game/movim_contact.png' %}"
                                                          alt="movim_contact"></span>
                        <p>Cette étape permet au contact d'appraître
                            dans votre profil.</p>
                        <span class="image fit main"><img src="{% static 'game/movim_add.png' %}"
                                                          alt="movim_add"></span>

                        <p>Vous pouvez alors vous rendre dans l'onglet discussion et lui parler dans la fenêtre de
                            chat.</p>
                        <span class="image fit main"><img src="{% static 'game/movim7.png' %}" alt="movim7"></span></li>
                    <li><p>Si vous vous connectez sur <a href="https://earth-explorer.agayon.be/login/">https://earth-explorer.agayon.be/login/</a>
                        en entrant votre adresse @movim.eu dans le formulaire, vous verrez une boîte de dialogue dans
                        la fenêtre movim vous demandant de confirmer l'authentification.</p>

                        <span class="image fit main"><img src="https://blog.agayon.be/images/XEP-0070-movim.png"
                                                          alt="xep-0070"></span>
                    </li>
                </ul>
            </header>
        </div>
    </section>
</div>
{% endblock %}
