{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Content -->
<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">

        <!-- Content -->
        <section id="content">
            <h3>Résumé</h3>
            <p>Un rover de type RX-Zk-154 surnommé Nosy a disparu. Le fabricant, la Thunderburn Company&trade;, est décidé à le
                retrouver à tout prix. Il contient des informations capitales collectées durant les trois dernières
                années. La société a engagé plusieurs chasseurs de primes concurrent afin d’accélérer les recherches.
                Ces personnages peu recommandables mais très présentables sont motivés par l’argent. Le rover est
                inaccessible car il a été envoyé sur une planète inhospitalière, la Terre, mais il est possible d’en extraire
                les données et de le détruire à distance à l’aide d’une commande inconnue à ce jour. À l’heure actuelle,
                seuls les
                dirigeants de la Thunderburn Company&trade; ont accès mais personne n'est parvenu à le localiser.</p>
            <p>Votre mission consiste à
                <strong>retrouver le rover, extraire sa base de
                    connaissance et le détruire</strong>. </p>
            <p><strong>Attention !</strong> Ne révélez pas vos informations à
                n'importe qui !</p>

            <h3>Déroulement</h3>
            <p>Après avoir créé un compte, vous pouvez entrer contact avec le premier bot et commencer à enquêter. Le jeu consiste à récolter
                des indices de
                différentes manières. Vous pourrez :
            <ul>
                <li>Interroger des bots de contrôle accessible via un programme de chat.</li>
                <li>Récolter des ressources sur internet (images, fichiers tabulaires, fichiers textes, binaire?…).</li>
                <li>Lancer des commandes via votre logiciel de chat</li>
                <li>...</li>
            </ul>
            </p>
            <h3>Comment jouer ?</h3>

            <p></p><strong>Earth Explorer</strong> se joue à l'aide d'un programme de chat de type XMPP. Votre compte
            d'enquêteur est votre adresse XMPP (<strong>JID</strong>). Elle ressemble à une adresse mail.
            L'authentification se fait en entrant votre JID dans la
            <a href="/profile">page de connexion</a>. Vous pouvez ensuite ajoutez le
            contact <strong>welcome@agayon.be</strong>. Il vous fournira les informations nécessaires pour démarrer votre quête.
            Si vous avez des diffcultés pour le contacter, <a href="/faq#Q3">les instructions suivantes vous aideront</a>.</p>

            <p>Si vous n’avez pas de compte XMPP, rendez-vous sur le <a
                    href="https://api.movim.eu/accounts/register">formulaire d’inscription du projet Movim</a>
                et inscrivez-vous. Ce vous permettra de commencer à jouer. Il existe d'autres plateformes telle que <a
                        href="https://im.apinc.org/inscription/">JabberFR</a>.</p></p>

            <p>Une fois votre compte créé, vous pouvez utiliser un des
                logiciels suivants qui sont relativement intuitifs et adaptés au jeu :</p>
            <ul>
                <li><strong><a href="https://movim.eu/">Movim</a> (En ligne, recommandé)</strong></li>
                <li><strong><a href="https://gajim.org/index.php?lang=fr">Gajim</a> (Windows, Linux)</strong></li>
                <li><strong><a href="https://conversations.im/">Conversations</a> (Android)</strong></li>
                <li><strong><a href="https://salut-a-toi.org/">Salut-à-Toi</a> (<a href="https://libervia.org/login">en
                    ligne</a>, Linux et <a href="https://salut-a-toi.org/">Android</a>)</strong></li>
                <li><strong><a href="https://github.com/dino/dino">Dino</a> (Linux)</strong></li>

            </ul>

            En cas de soucis, n'hésitez pas à consulter l'<a href="/faq#Q3">aide</a>.


        </section>

    </div>
</div>


{% endblock %}
