<!DOCTYPE HTML PUBLIC>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Earth Explorer</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% load static %}
    {% load leaflet_tags %}
    {% block leaflet %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
          integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'game/css/profile.css' %}"/>
</head>
<body>
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1 id="logo"><a href="https://www.agayon.be">Agayon.be</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/faq">Aide</a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="/chatter">Chat</a></li>
                {% if session.user_jid %}
                <li><a href="/logout">Déconnexion</a></li>
                <li><a href="/profile" class="button special">{{ session.user_jid }}</a></li>
                {% else %}
                <li><a href="/login" class="button special">Connexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>


    <!-- Main -->
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                {% if major == "profile" %}
                <h2>Profil</h2>
                <p>{{ session.user_jid }}</p>
                {% elif major == "status" %}
                <h2>Earth Explorer</h2>
                <p>Game Status</p>
                {% elif major == "clue" %}
                <h2>Indices</h2>
                <p>Où est-il ?</p>
                {% else %}
                <h2>Earth Explorer</h2>
                <p>Où est-il ?</p>
                {% endif %}
            </header>
            <!-- Content -->
            <section id="content">
                <header>
                    <h3>Ma progression</h3>
                </header>
                <div class="box alt">
                    <div class="row uniform">
                        <section id="functionalities" class="wrapper style1 special fade-up">
                            <div class="container">
                                <div class="box alt">
                                    <div class="row uniform">
                                        {% for bot in botstates %}
                                        {% if bot.contacted_bot %}
                                        <section class="4u 6u$(medium) 12u$(xsmall)">
                                            <span class="fa fa-comments fa-2x "></span>
                                            <h3>
                                                <a href="xmpp:{{ bot.bot.jid }}">{{ bot.bot.jid }}<span
                                                        class="label"></span></a></h3>
                                            <p>{{ bot.bot.name|urlize }}</p>
                                            <p>{{ bot.bot.description|safe }}</p>
                                            {% if bot.clue0 %} <p>{{ bot.bot.clue0|urlize }}</p> {% endif %}
                                            {% if bot.clue1 %} <p>{{ bot.bot.clue1|urlize }}</p> {% endif %}
                                            {% if bot.clue2 %} <p>{{ bot.bot.clue2|urlize }}</p> {% endif %}
                                            {% if bot.clue3 %} <p>{{ bot.bot.clue3|urlize }}</p> {% endif %}
                                            {% if bot.clue4 %} <p>{{ bot.bot.clue4|urlize }}</p> {% endif %}
                                        </section>

                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>

            </section>


            <section id="new_clue">
                <!--<header>-->
                <!--<h3>Preuves - Indices</h3>-->
                <!--</header>-->
                <form method="get" action="/clue/">
                    <div class="row uniform 50%">
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Gestion des indice" class="special"/></li>
                            </ul>
                        </div>
                    </div>
                </form>

            </section>

            <!-- MAP -->
            <section id="map">
                {{ map_coordinate|json_script:"map_coordinate" }}
                <!--map coordinate is a json object. It's a string and equal to '[]' if empty, &ndash;&gt; lenght == 2-->
                {% if map_coordinate|length > 2 %}
                <script src="{% static 'game/js/profile.js' %}"></script>
                <header>
                    <h3>Carte</h3>
                </header>
                <script type="text/javascript">
                    const blueIconUrl = '{% static "game/img/marker-icon-2x-blue.png" %}';
                    const violetIconUrl = '{% static "game/img/marker-icon-2x-violet.png" %}';
                    const shadowUrl = '{% static "game/img/marker-shadow.png" %}';
                    let profile = this.agayonMap(this.L, {{ map_coordinate|safe }}, blueIconUrl, violetIconUrl, shadowUrl);
                    this.agayon = {
                        mapData: {{ map_coordinate|safe }},
                        profile: profile,
                        blueIcon: profile.getBlueIcon(),
                        violetIcon: profile.getVioletIcon(),
                    };
                </script>
                <p>
                    {% leaflet_map "user_map" callback="this.agayon.profile.mainMapInit" %}
                </p>


                {% endif %}


            </section>

            <!-- Danger zone -->

            <section id="danger" class="wrapper style2 special fade">
                <header>
                    <h3>Danger Zone</h3>
                    <p><strong>Effacer votre compte</strong></p>
                </header>
                <p><strong>Le boutton ci-dessous efface votre compte. Vous pourrez bien entendu en recréer un mais votre
                    progression
                    sera perdue.</strong></p>


                <form method="post" action="/profile/delete/">
                    {% csrf_token %}
                    <div class="row uniform 50%">
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Effacer mon compte" class="special"/></li>
                            </ul>
                        </div>
                    </div>
                </form>

            </section>


            <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="xmpp:info@agayon.be" class="fa fa-xmpp fa-2x"
                           style="color: rgba(255, 255, 255, 0.75)"><span class="label"></span></a></li>
                    <li><a href="https://www.linkedin.com/in/arnaud-joset-622313129" class="fa fa-linkedin fa-2x"
                           style="color: rgba(255, 255, 255, 0.75)"><span class="label"></span></a></li>
                    <li><a href="https://gitlab.com/u/jnanar" class="fa fa-gitlab fa-2x"
                           style="color: rgba(255, 255, 255, 0.75)"><span class="label"></span></a></li>
                    <li><a href="https://blog.agayon.be" class="fa fa-external-link fa-2x"
                           style="color: rgba(255, 255, 255, 0.75)"><span class="label"></span></a></li>
                    <li><a href="mailto:info[at]agayon.be" class="fa fa-envelope fa-2x"
                           style="color: rgba(255, 255, 255, 0.75)"><span class="label"></span></a></li>


                </ul>
                <ul class="copyright">
                    <li>&copy; Agayon.be 2018. All rights reserved.</li>
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </footer>


        </div>

        <!-- Scripts -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'assets/js/skel.min.js' %}"></script>
        <script src="{% static 'assets/js/util.js' %}"></script>
        <!--[if lte IE 8]>
        <script src="assets/js/ie/respond.min.js' %}"></script><![endif]-->
        <script src="{% static 'assets/js/main.js' %}"></script>
        <!-- Initialize Methods -->

</body>
</html>

