{% extends "base.html" %}
{% load static %}
{% block content %}


<div id="main" class="wrapper style1">
    <div class="container">

        <!-- Content -->
        <section id="content">
            <table>
                {% for bot in botstates %}
                <tr>
                    <td>{{ bot.earth_user.jid }}</td>
                    <td>{{ bot.bot.jid }}</td>
                    <td>{% if bot.clue0 %}{{ bot.clue0|default:"" }} {% endif %}</td>
                    <td>{% if bot.clue1 %}{{ bot.clue1|default:"" }} {% endif %}</td>
                    <td>{% if bot.clue2 %}{{ bot.clue2|default:"" }} {% endif %}</td>
                    <td>{% if bot.clue3 %}{{ bot.clue3|default:"" }} {% endif %}</td>
                    <td>{% if bot.clue4 %}{{ bot.clue4|default:"" }} {% endif %}</td>
                </tr>
                {% endfor %}
            </table>

        </section>

    </div>
</div>


{% endblock %}

