{% load static %}

<!DOCTYPE html>
<HTML>
<HEAD>
    <TITLE>Steven Van Del Torck</TITLE>
    <meta name="description" content="Répertoire Personnel du répondeur">
    <meta name="keywords" content="Steven">
    <meta name="author" content="Steven Van Del Torck">
    <meta charset="utf-8"/>

</HEAD>
<BODY>
<H1>Steven Van Del Torck</H1>
<p>Espace personnel</p>
<ul>
    <li><a href="{% static 'game/steven/Steven Van Del Torck.png' %}">Mon CV</a> (fr)</li>

    <li><a href="https://www.agayon.be/">Site promo idiot du rover</a></li>
    <ul>
        <li><a href="{% static 'game/col_B.txt' %}">Sites attérissages potentiels? Réserves de minéraux connues?</a>
        </li>
        <li>
            <div>4@@&lt;dYY1-&gt;@4W1D&lt;8;&gt;1&gt;X-3-E;:X.1YC5@40&gt;-CY/\`_/c2`\`.?Y</div>
            <a style="color: red;" href="/withdraw/c265c9f626bs/">Lien fichier chiffré césar https</a> <span
                style="color: red;">CE texte contient un lien vers row_C.</span>
        </li>
        <li><img src="{% static 'game/steven/space.png' %}" width="150"
                 alt="wtf"></li>
    </ul>
</ul>

<h2>Liens Utiles</h2>
<ul>
    <li><a href="https://gchq.github.io/CyberChef/">CYBERCHEF</a></li>
    <ul>
        <li>Choisir une recette puis la glisser dans la colonne "Recipe".</li>
        <li>Par exemple : Encryption/Encoding &rarr; ROT13</li>
        <li>Taper un texte dans la case input</li>
        <li>Le texte est chiffré dans la case output.</li>
        <li>Pour du Rot13, les lettres sont converties avec la 13ème lettre après dans l'alphabet et on boucle</li>
        <li>2 fois ROT13 redonne le message de départ</li>
        <li>
            <a href="https://gchq.github.io/CyberChef/#recipe=ROT13(true,true,13)&input=Y2VjaSBlc3QgdW4gdGVzdCBwb3VyIHJldHJvdXZlciBsZSByb3ZlcgpwcnB2IHJmZyBoYSBncmZnIGNiaGUgZXJnZWJoaXJlIHlyIGViaXJl">Exemple</a>
        </li>
        <li>On peut même ouvrir des fichiers en entrée et ajouter plusieurs "inputs" !</li>
    </ul>
</ul>
</ul>
</ul>

<h1>INFOS</h1>

<p>
    COL_A est donnée par l'image spatiale. --> OK</br>
    col_B est donné ici même. (https://) . --> OK</br>
    col_C est donnée par le césar ou équivalent CYBERCHEF --> Un des bots doit dire la clé (LapinBlanc) et l'algo
    utilisé</br>
    Il faut aussi que l'indication du vigenère soit donnée pour la suite (qu'il faudra choisir un vigenère sur
    CYBERCHEF).
</p>


<p>
<h2>/withdraw/wearedoomed Vigenere</h2>
indice: lien vers un vigenère dont la clé est HELPME</br>
texte du lien vers le fichier texte:</br>
<a href="#">1586 mais pas de clé.</a>J'ai bien peur de m'être fait blaisé...</br>

https://fr.wikipedia.org/wiki/Chiffrement_par_d%C3%A9calage </br>
https://www.dcode.fr </br>
Pour vigenère: </br>
clé : HELPME </br>

TEXTE:</br>
Donne les infos pour le prochain indice; Le prochain bot à contacter et pourquoi.
On a aussi la commande à entrer pour détruire le robot une fois qu'on l'a contacté.</br>


<h2>BOT a créer monetron ?</h2>

Bot XMPP lié à l'argent?

<ul>
    <li>Il doit donner la raison pour laquelle le robot est perdu.</li>
    <li>On pourrait penser que la compagnie n'a rien trouvé et qu'ils ont décidé de laisser tomber le rover</li>
    <ul>
        <li>Un des autres robots doit dire (affirmer de manière certaine) que le robot a été abandonné car il
            n'a rien trouvé sur place. Il a beaucoup sillonné la planète et pourtant, il n'a rien trouvé
        </li>
        <li>Il n'y a plus de réserves d'eau potable sur Terre.</li>
        <li>La compagnie a investi des millions dans les sondages, les satellites, et tout semble mort, contaminé</li>
    </ul>
    <li>A première vue le rover est inutile.</li>
    <li>La compagnie a cessé de communiquer dessus et met en avant une solution alternative basée sur des minages dans
        la ceinture d'astéroide.
    </li>
    <li>Cette solution est très chère et peu certaine. L'eau pourra être acheminée mais à un prix que peu pourront se
        permettre. Les pauvres devront se contenter des solutions à bases de recycleurs vieilissant.
    </li>
</ul>

<h3>Autre possibilité sympa</h3>

Monetron donne un lien vers un rapport confidentiel pdf en clair qui explique
<ul>
    <li> le robot a été abandonné car il n'a rien trouvé sur place. Il a beaucoup sillonné la planète et pourtant, il
        n'a rien trouvé.
        Il n'y a plus de réserves d'eau potable sur Terre. La compagnie a investi des millions dans les sondages, les
        satellites, et tout semble mort, contaminé. le robot a été abandonné car il n'a rien trouvé sur place. Il a
        beaucoup sillonné la planète et pourtant, il n'a rien trouvé. La compagnie met en avant une solution alternative
        basée sur des minages dans
        la ceinture d'astéroide. Cette solution est très chère et peu certaine. L'eau pourra être acheminée mais à un
        prix que peu pourront se
        permettre. Les pauvres devront se contenter des solutions à bases de recycleurs vieilissant.
    <li> plus loin dans la conversation (s'assurer que ça vient bien après indice 1 donc avoir un système de chronologie
        des indices).
    </li>
    Un autre rapport doit dire (affirmer de manière certaine) le plot twist.

    Monetron envoie un lien vers rapport 1 non chiffré, juste un beau pdf avec un template du futur qui va bien. latex ?
    Monetron envoie un lien vers rapport 2 plus loin dans conversation après avoir donné un ou l'autre indice de
    chiffrement opération que la personne ne comprendra pas.
    Monetron envoie la fin des indices pour les opérations de déchiffrage.

    Il faut définir: le nombre d'opérations nécessaire dès le début. L'entropie à quelques étapes pour que la personne
    puisse valider des étapes intermédiaires.
    une étape peut se baser sur une clé non donnée mais réutilisée de l'étape d'avant.</li>
    couple clé-méthode de chiffrement doit être claire.

    <li><a href="https://gchq.github.io/CyberChef/">CYBERCHEF</a></li>


    <li>Le rapport 2 a un paragraphe qui dit que le rover devra être récupéré pour éviter les fuite et que les
        responsables puissent être mis en examen. Il donne le lien vers le firmulaire pour entrer les coordonnées pour
        le détruire lorsqu'on l'aura retrouvé
    </li>
    <li></li>

    <h3>PLOT TWIST</h3>
    <ul>
        <li>Le rover a trouvé d'importantes sources d'eau douce dans des fosses océaniques. Des travaux dans ce sens
            on été mis au jour mais ils avaient dû être abandonné précipitemment
        </li>
        <li>La compagnie est au courant mais refuse de communiquer.</li>
        <li>L'étendue de la réserve est inconnue mais étant donné que l'homme a quitté la terre depuis des siècles, il
            est
            possible que la réserve puisse permettre à chacun de bénéficier d'une quantité d'eau suffisante à condition
            d'en
            prendre
            soin et de la recycler afin de ne pas épuiser les ressources. Rien d'impossible
        </li>
        <li>Les pauvres ne rapportent rien. Pomper cette eau bon marché et prétendre qu'elle vient de la ceinture pour
            pouvoir la
            vendre à prix d'or est beaucoup plus lucratif...
        </li>
    </ul>


    <h2>MAIS ENCORE</h2>

    </br>
    </br>IL MANQUE ICI une OU deux ETAPES POUR OBTENIR LA POSITION ET LE LIEN VERS LE FORMULAIRE FINAL
    </br>
    </br>UTILISER LE CLUE HANDLER (upload de deux autres fichiers de type différent):
    <del>régression linéaire à faire? extrapolation</del>
    le PDF rapport 1 et le PDF rapport 2.</br>
    Opération math pour les coordonnées ? Séries math? ... Extrapolation, régression ?

    </br></br> ceci fournira le lien /final qui permet d'encoder les coordonnées.

    <h3>IDEE SYMPA A EXPLOITER</h3>
    utiliser cyberchef et fournir des indices facilement via un bot des étapes à faire pour déchiffrer un fichier qu'on
    donne facilement.


    <a href="https://gchq.github.io/CyberChef/">CYBERCHEF</a>

    La personne doit mettre les étapes dans le bon ordre pour avoir l'indice :-)

    <h3>FINAL</h3>


    Avant dernier truc: formulaire pour encoder les coordonnées en toutes lettres: exemple (29° 45′ 46″N, 95° 22′ 59″W)
    Dernier truc: le withdraw donne l'adresse XMPP du robot. On peut voir sa caméra, parler avec lui et envoyer la
    commande.
    Boom et il coupe la connexion juste après avoir envoyé un lien avec une archive de sa "base de connaissance". (PDF:
    félicitations tu as terminé le jeu, épilogue tout le monde est arrêté, Nestlé c'est de la merde)
    </p>

    <h2>Bots (indices) à rajouter </h2>

    Steven: ajouter espace personnel et col_B une fois que la personne a donné le mot de passe de la messagerie

    <ul>
        <li>/withdraw/spatial COL_A- NON XMPP</li>
        <li>/withdraw/cesar col_C - NON XMPP</li>
        <li>/withdraw/wearedoomed vigenere - NON XMPP</li>
        <li>/withdraw/monetron - OUI XMPP</li>
        <li>/withdraw/???</li>
        <li>/withdraw/coordinnees finales - NON XMPP</li>
        <li>le robot - OUI XMPP</li>
    </ul>

    <h2>TODO</h2>
    ENLEVER REFERENCES SWEET COMPANY DANS LES BOTS ET LES INDICES
</BODY>
</HTML>

