{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Main -->
<!-- Content -->
{% if not clue %}
<section id="withdraw">
    <div class="container">
        <header>
            <h3>Télécharger des indices</h3>
            <p>
                Sauf mention contraire, les indices peuvent être téléchargés dans un sous dossier de
                <strong><a href="/withdraw">https://earth-explorer.agayon.be/withdraw</a>/XXX</strong>
                où <strong>XXX</strong> est le nom d'un indice donné. Il ne reste plus qu'à découvrir leurs
                noms !
            </p>
        </header>
    </div>
</section>

{% else %}

{% if clue == "4d45c10cd25a" %}
<div class="container a_clue">
    <h2>Messages archivés</h2>
    - Steven, regarde ce fichier que j'ai trouvé. C'était sur une des puces mémoires CMOS d'un des prototypes de Nosy.
    Il y avait aussi ce bout de papier dans la boîte...
    <ul>
        <li><a href="{% static 'game/4d45c10cd25a_col_A.txt' %}">colonne A</a></li>
        <li>Faire une photo d'un bout de papier avec: ROT47 (en incrémentant, on trouve le texte à val 42)</li>
    </ul>
</div>


{% elif clue == "lapin_blanc" %}

<div class="container a_clue">
    <h2>Messages archivés</h2>
    - Alors regardez l'entrée suivante, c'est là le comble. Objet : Lapin blanc. Je ne sais pas à quoi ça sert, mais ça
    a
    servi.
    <div class="a_rabbit_center">
        <img height="35%" src="{% static 'images/white_rabbit.jpg' %}" alt="white_rabbit"/>
    </div>

    - <a href="{% static 'game/c265c9f626bs_col_C.txt/' %}">Il l’a fait… Il y est arrivé ce vieux dégénéré</a>.

    <div class="a_rabbit_credit">
    <span class="h6">Photo de <a
            href="https://unsplash.com/@andy_brunner?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Andy Brunner</a> (<a
            href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>)</span>
    </div>

</div>
{% elif clue == "bonus" %}
<div class="container a_clue">
    Donner un truc utile mais qui n'est pas indispendable.
    Ajouter un bonus dans les bots contactés.
    <a href="{% static 'game/">Indice</a>
</div>
{% elif clue == "42" %}


{% endif %}

{% endif %}

{% endblock %}